:root {
  --fg: #fff;
  --bg-primary: #222;
  --bg-secondary: #171719;
}

html,
body,
main {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: var(--fg);
  background-color: var(--bg-secondary);
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: calc(100% - 24px);
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  padding: 4px 12px 12px 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 8px;
}

.agencies,
.routes,
.stations,
.trains {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  text-align: left;
}

.agency,
.route,
.station,
.train,
.destination {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0.4rem;
  cursor: pointer;
  text-decoration: underline;
}

.destination {
  cursor: default;
  text-decoration: none;
}

.station,
.destination {
  background-color: #444;
}

a,
a:visited {
  color: var(--fg);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.train {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 1.2em;
  text-decoration: none !important ;
}

.trainLink {
  text-decoration: none !important;
}

.trains {
  margin-top: 0;
  margin-bottom: 4px;
}

.trainInfo {
  display: flex;
  flex-direction: column;
  margin: 8px 0 4px 0;
  padding: 2px 6px 4px 6px;
  max-width: 388px;
}

.trainInfo h2 {
  margin-top: 0;
  margin-bottom: -4px;
}

.trainInfo p {
  margin-left: 2px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.maplibregl-popup-content {
  color: var(--fg) !important;
  background-color: #444 !important;
  width: 90vw;
  max-width: 400px;
  max-height: 50vh;
  overflow-y: auto;
  padding: 8px !important;
}

.maplibregl-popup-close-button {
  color: var(--fg) !important;
  font-size: 20px !important;
}

.mapBar {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 2px;
}

.mapBar h3 {
  padding: 0 0 6px 0;
}

.mapStationBar {
  padding: 6px 8px;
  background-color: #222;
}

.mapTrainBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 8px;
  background-color: #111;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 8px;
}

th,
td {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #222;
}

tr:nth-child(even) {
  background-color: #333;
}
